.Header{
    background-color: #0086DA;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.Header-container{
    padding: 0px 20px;
    margin: 0px auto;
}
.img-logo{
    height: 50px;
    width: 50px;
}