.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("./screen1.jpeg");
}
.Body {
  margin-top: 3.2rem;
  display: flex;
  background-color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Item {
  padding: 10px;
  border: 1px solid #e9e9e9;
}
.Item:hover {
  background-color: #09d3ac;
}

.App-link {
  color: #09d3ac;
}
